In [1]:
import pandas as pd
import numpy as np

In [2]:
from log_progress import log_progress

In [3]:
import matplotlib
%matplotlib inline

In [4]:
import seaborn as sns

# Test Public

In [16]:
public_test_df = pd.read_csv('data/test-public.txt', sep='\t', index_col='Id')
public_test_df.head()

     Source     Sink
Id
1   2184483  1300190
2   3151356  1452193
3   1579396   193159
4   1406432  2481036
5   2389638   593017

In [6]:
source_set = set(public_test_df.Source.values)
sink_set = set(public_test_df.Sink.values)
len(sink_set), len(source_set), len(source_set.intersection(sink_set))

(1978, 2000, 30)

In [7]:
len(source_set.intersection(sink_set))

30

In [8]:
test_set = source_set.union(sink_set)

# Train data load

## Edges Dataframe

In [14]:
#edges_df = pd.read_csv()

## Nodes Dataframe

In [10]:
nodes_df = pd.read_csv('data/node_features.csv', index_col='node_id')
nodes_df.head()

/anaconda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,is_parent_node,is_leaf_node,parents_count,children_count,children_links_counts,parents_links_counts
node_id,,,,,,
0,0,1,3,0,0,0
1,0,1,3,0,0,0
2,0,1,2,0,0,0
3,0,1,2,0,0,0
4,0,1,3,0,0,0

In [11]:
#nodes_df = nodes_df.iloc[:int(2e4)].copy()
nodes_df.shape

(4867136, 6)

In [12]:
nodes_df[(nodes_df.parents_count > 0) & (nodes_df.children_count > 0)].shape

(19570, 6)

In [13]:
nodes_df[nodes_df.parents_links_counts > 0].head()

,is_parent_node,is_leaf_node,parents_count,children_count,children_links_counts,parents_links_counts
node_id,,,,,,
1097,1,0,21,176,25197,34232
1122,1,0,109,1012,91833,50033
1152,1,0,94,2777,538818,877504
1170,1,0,138,452,70953,360778
1174,1,0,187,542,1066453,1097483

# Join data

In [17]:
public_test_df.head()

     Source     Sink
Id
1   2184483  1300190
2   3151356  1452193
3   1579396   193159
4   1406432  2481036
5   2389638   593017

In [18]:
nodes_df.head()

,is_parent_node,is_leaf_node,parents_count,children_count,children_links_counts,parents_links_counts
node_id,,,,,,
0,0,1,3,0,0,0
1,0,1,3,0,0,0
2,0,1,2,0,0,0
3,0,1,2,0,0,0
4,0,1,3,0,0,0

In [24]:
source_columns = ['parents_count', 'children_count', 'children_links_counts', 'parents_links_counts']
train_df = public_test_df.join(nodes_df[source_columns],
                    on='Source', rsuffix='source')

In [27]:
sink_columns = ['is_parent_node', 'is_leaf_node', 'parents_count',
                  'children_count', 'children_links_counts', 'parents_links_counts']
train_df = train_df.join(nodes_df[sink_columns], on='Sink', rsuffix='_sink')

In [29]:
train_df.head(100)

,Source,Sink,parents_count,children_count,children_links_counts,parents_links_counts,is_parent_node,is_leaf_node,parents_count_sink,children_count_sink,children_links_counts_sink,parents_links_counts_sink
Id,,,,,,,,,,,,
1,2184483,1300190,102,83,75149,238206,0,1,3,0,0,0
2,3151356,1452193,39,340,190693,84953,0,1,289,0,0,0
3,1579396,193159,13,208,389996,326756,0,1,2,0,0,0
4,1406432,2481036,16,84,31560,29915,1,0,24,14,292,1357
5,2389638,593017,30,267,146021,392713,1,0,165,58,42646,175340
6,228206,212805,14,9,1659,2939,1,0,894,297,640235,2109580
7,1237964,879115,4,15,6628,5626,0,1,482,0,0,0
8,3318124,1840575,26,93,6232,11096,0,1,26,0,0,0
9,4522929,1552625,46,422,134229,647766,0,1,63,0,0,0
10,3406737,3781412,3,29,4726,886,0,1,2,0,0,0
11,1567983,3008412,13,87,85599,103211,0,1,84,0,0,0
12,4370932,2906415,15,94,441,4139,0,1,2,0,0,0
13,286240,474307,50,512,4536,16826,0,1,6,0,0,0
14,4796773,3115614,15,142,1537,17268,0,1,5,0,0,0
15,2207765,4354226,13,208,225073,24610,1,0,50,1271,203757,213604
16,1283384,279636,9,137,8457,6024,0,1,70,0,0,0
17,368544,2431466,32,172,42038,256725,1,0,49,2109,216343,128396
18,3921857,4512147,65,3,0,11898,0,1,3,0,0,0
19,49037,3175009,212,966,1252403,1308321,0,1,1,0,0,0
20,61633,1064392,12,33,336,3274,0,1,8,0,0,0
21,1459453,654182,30,39,184,10209,0,1,7,0,0,0
22,447597,2736867,209,2240,1749838,1634520,0,1,4,0,0,0
23,2121585,3413796,5,34,107,89,0,1,12,0,0,0
24,933347,1131654,349,8968,6949477,6913947,0,1,95,0,0,0
25,3733033,488937,40,387,271285,307931,0,1,2,0,0,0
26,3023014,2817859,20,345,13140,33889,0,1,11,0,0,0
27,1404783,410037,50,191,19086,53881,0,1,1,0,0,0
28,1886158,3656408,126,48,1373,1039893,0,1,272,0,0,0
29,3316731,4579088,28,102,85202,32920,1,0,72,481,652183,1153119
30,2369031,1860112,259,393,176231,849779,1,0,69,68,2184,18550
...,...,...,...,...,...,...,...,...,...,...,...,...
71,4797294,3735230,9,2000,4312,1453,0,1,1,0,0,0
72,2450052,2549546,5,88,3893,1454,0,1,40,0,0,0
73,24523,497993,341,12443,5532755,5097030,0,1,2,0,0,0
74,4576342,1043689,50,287,81939,133097,0,1,110,0,0,0
75,1875903,2638090,26,155,78279,269971,1,0,1165,34124,3892304,4741378
76,930131,1305103,12,91,67265,47438,1,0,75,407,157952,142020
77,3872353,2516690,182,1562,1039941,930700,1,0,254,8285,963735,1291615
78,217062,20388,78,293,191820,351372,1,0,4841,761793,9667438,9508742
79,1628755,1120745,3,24,212,110,0,1,57,0,0,0
80,4033899,2555403,384,2509,2382235,2210118,0,1,99,0,0,0
81,4600810,4690043,15,146,23929,7937,0,1,12,0,0,0
82,2852252,3901568,165,1812,3147045,3240659,0,1,313,0,0,0
83,4128817,963520,86,1880,147464,791512,0,1,41,0,0,0
84,4603833,3538910,168,265,100663,223067,0,1,2,0,0,0
85,2665129,694605,13,104,3449,2827,0,1,7,0,0,0
86,2506289,2034494,7,225,5963,2040,0,1,1,0,0,0
87,3755683,4027183,11,29,26,2251,0,1,14,0,0,0
88,281045,1477566,27,52,1368,6994,1,0,68,194,123070,103894
89,525339,4345638,7,74,2241,1569,1,0,55,152,77844,97134
90,2872550,3571822,57,441,506783,652937,0,1,14,0,0,0
91,3996001,1317062,53,269,234531,154659,0,1,22,0,0,0
92,1630993,2942968,3,31,88,7,0,1,3,0,0,0
93,3519436,273127,4,133,12244,184,0,1,33,0,0,0
94,1072548,4516657,18,92,20109,229335,1,0,210,141,7927,105257
95,3385377,21536,36,279,385395,352114,0,1,597,0,0,0
96,1698628,4155714,2,13,3,24,0,1,69,0,0,0
97,3421725,3521843,161,374,293575,337602,1,0,577,14443,5368051,5383599
98,2930692,138960,10,82,86352,21425,0,1,22,0,0,0
99,3738701,228193,118,391,533770,1007905,0,1,2,0,0,0
100,1729154,1781627,87,172,60784,542519,0,1,2,0,0,0

In [56]:
mask = (train_df.children_count_sink > 0)# | (train_df.parents_count_sink > 100)

In [62]:
train_df['prediction'] = mask.astype(int)

In [63]:
train_df.set_index(['Source', 'Sink']).head()

,Source,Sink,parents_count,children_count,children_links_counts,parents_links_counts,is_parent_node,is_leaf_node,parents_count_sink,children_count_sink,children_links_counts_sink,parents_links_counts_sink,prediction
Id,,,,,,,,,,,,,
1,2184483,1300190,102,83,75149,238206,0,1,3,0,0,0,0
2,3151356,1452193,39,340,190693,84953,0,1,289,0,0,0,0
3,1579396,193159,13,208,389996,326756,0,1,2,0,0,0,0
4,1406432,2481036,16,84,31560,29915,1,0,24,14,292,1357,1
5,2389638,593017,30,267,146021,392713,1,0,165,58,42646,175340,1

In [64]:
nodes_ÑˆÐµdf.head(100)

,is_parent_node,is_leaf_node,parents_count,children_count,children_links_counts,parents_links_counts
node_id,,,,,,
0,0,1,3,0,0,0
1,0,1,3,0,0,0
2,0,1,2,0,0,0
3,0,1,2,0,0,0
4,0,1,3,0,0,0
5,0,1,2,0,0,0
6,0,1,1,0,0,0
7,0,1,1,0,0,0
8,0,1,1,0,0,0
9,0,1,1,0,0,0
10,0,1,1,0,0,0
11,0,1,1,0,0,0
12,0,1,1,0,0,0
13,0,1,13,0,0,0
14,0,1,8,0,0,0
15,0,1,1,0,0,0
16,0,1,1,0,0,0
17,0,1,1,0,0,0
18,0,1,1,0,0,0
19,0,1,1,0,0,0
20,0,1,5,0,0,0
21,0,1,1,0,0,0
22,0,1,1,0,0,0
23,0,1,1,0,0,0
24,0,1,60,0,0,0
25,0,1,1,0,0,0
26,0,1,4,0,0,0
27,0,1,2,0,0,0
28,0,1,2,0,0,0
29,0,1,2,0,0,0
...,...,...,...,...,...,...
70,0,1,1,0,0,0
71,0,1,9,0,0,0
72,0,1,1,0,0,0
73,0,1,1,0,0,0
74,0,1,3,0,0,0
75,0,1,1,0,0,0
76,0,1,2,0,0,0
77,0,1,1,0,0,0
78,0,1,5,0,0,0
79,0,1,4,0,0,0
80,0,1,1,0,0,0
81,0,1,1,0,0,0
82,0,1,2,0,0,0
83,0,1,2,0,0,0
84,0,1,3,0,0,0
85,0,1,4,0,0,0
86,0,1,2,0,0,0
87,0,1,4,0,0,0
88,0,1,1,0,0,0
89,0,1,8,0,0,0
90,0,1,1,0,0,0
91,0,1,51,0,0,0
92,0,1,2,0,0,0
93,0,1,1,0,0,0
94,0,1,1,0,0,0
95,0,1,1,0,0,0
96,0,1,1,0,0,0
97,0,1,4,0,0,0
98,0,1,4,0,0,0
99,0,1,2,0,0,0

# Predictions Submission

In [60]:
train_df['prediction'] = 1
#train_df['prediction'] = mask.astype(int)
train_df.loc[mask, 'prediction'] = 0
train_df[['prediction']].to_csv('prediction.csv')
train_df.prediction.sum()

1631

In [ ]:
mask = data.Source.isin(test_set) | data.Sink.isin(test_set)
data = data[mask]
mask.sum()

In [ ]:
data.head()

In [ ]:
data['is_train_set'] = 1
data['Id'] = range(2001, 2001 + data.shape[0], 1)

In [ ]:
public_test_df['is_train_set'] = 0

In [ ]:
df = pd.concat([public_test_df, data], axis=0)

In [ ]:
df.head()

In [ ]:
child_count = lambda x: node_child_counts[x] if x in node_child_counts.keys() else 0
df['source_childs_count'] = df.Source.apply(child_count).clip(upper=1000)
df['sink_childs_count'] = df.Sink.apply(child_count).clip(upper=1000)

In [ ]:
def intersect(vector):
    if vector['Sink'] not in node_child_sets.keys():
        return 0
    set1 = node_child_sets[vector['Source']]
    set2 = node_child_sets[vector['Sink']] 
    return len(set1.intersection(set2))
df['source_sink_child_intersect_count'] = df.apply(intersect, axis=1)

In [ ]:
df[df.source_childs_count > 0]

In [ ]:
sns.pairplot(df.ix[:4000, 3:], hue='is_train_set', size=4)

In [ ]:
df.Source.value_counts().head()

Intersection of source nodes Kaggge Test Set and Train Data Source Node Set

In [ ]:
len(source_set.intersection(set(data.source.values)))

In [ ]:
len(sink_set.intersection(set(data.sink.values)))

In [ ]:
public_test_df.head()

In [ ]:
df = data.source

In [ ]:
df.dropna()

In [ ]:
len(set(data.source.values).intersection(set(data.sink.values)))

In [ ]:
data.groupby('source')['sink'].count()

# Predictions

In [ ]:
predictions = pd.read_csv('data/sample.csv')
predictions['Prediction'] = 0

In [ ]:
predictions.to_csv('prediction.csv', index=False)

In [ ]:
df['prediction'] = (df['source_childs_count'] > 200).astype(int)
df[df.Id <= 2000][['Id', 'prediction']].to_csv('prediction.csv', index=False)