In [1]:
import pandas as pd

# Test Public

In [6]:
public_test_df = pd.read_csv('data/test-public.txt', sep='\t')
public_test_df.head()

   Id   Source     Sink
0   1  2184483  1300190
1   2  3151356  1452193
2   3  1579396   193159
3   4  1406432  2481036
4   5  2389638   593017

In [7]:
public_test_df.describe()

                Id        Source          Sink
count  2000.000000  2.000000e+03  2.000000e+03
mean   1000.500000  2.431106e+06  2.429986e+06
std     577.494589  1.418827e+06  1.420581e+06
min       1.000000  1.452000e+03  5.113000e+03
25%     500.750000  1.202666e+06  1.162797e+06
50%    1000.500000  2.456928e+06  2.459976e+06
75%    1500.250000  3.655393e+06  3.679264e+06
max    2000.000000  4.866498e+06  4.864558e+06

In [12]:
public_test_df.Sink.value_counts().head(10)

212805     3
314924     2
4743804    2
4595137    2
4132261    2
163021     2
2516690    2
621120     2
4096612    2
4254453    2
Name: Sink, dtype: int64

In [14]:
source_set = set(public_test_df.Source.values)
sink_set = set(public_test_df.Sink.values)
len(sink_set), len(source_set), len(source_set.intersection(sink_set))

(1978, 2000, 30)

In [15]:
source_set.intersection(sink_set)

{19760,
 113182,
 209191,
 456126,
 621120,
 979255,
 1164032,
 1397316,
 1432887,
 1486892,
 1729215,
 1735883,
 1747009,
 1917370,
 2472584,
 3317934,
 3749748,
 3756910,
 3763328,
 4094697,
 4096612,
 4272458,
 4294640,
 4345638,
 4347620,
 4578655,
 4597942,
 4675165,
 4796773,
 4820881}

# Train

In [24]:
items = []
with open('data/train.txt', 'rt') as f:
    line = f.readline()
    while line:
        numbers = line.split('\t')
        source = int(numbers[0])
        for sink in numbers[1:]:
            items.append((source, int(sink))) 
        line = f.readline()
len(items)

24004361

In [ ]:
data = pd.DataFrame(items, columns=['source', 'sink'])

In [28]:
del items

In [26]:
data.shape

(24004361, 2)

In [27]:
data.head()

    source     sink
0  4066935  1272125
1  4066935  3105725
2  4066935  2828522
3  4066935  4394015
4  4066935  2367409

In [29]:
data.sink.value_counts()

20388      4841
2740141    4637
1054633    3654
487639     3432
2120801    3425
2984603    3193
3528096    3035
4847918    2951
3377456    2951
1139433    2921
2544271    2914
2809458    2821
2619379    2664
3088232    2605
4007276    2532
1324992    2466
1086605    2452
2332893    2431
247783     2358
1413055    2294
163021     2239
4813076    2203
1638122    2152
1511168    2098
448823     2090
848620     2084
1165817    2058
3487024    2035
4096612    2022
1660431    2014
           ...
2662413       1
1533940       1
2154757       1
2122005       1
3859013       1
2105629       1
3744317       1
3760693       1
3777069       1
3793445       1
3727877       1
2564605       1
2580981       1
2613733       1
2531789       1
2548165       1
2433469       1
2449845       1
2466221       1
2482597       1
2367901       1
2384277       1
2417029       1
2302333       1
2318709       1
2269517       1
2285893       1
2171197       1
2220325       1
3381645       1
Name: sink, Length: 4867136, dtype: int64

In [30]:
data.source.value_counts()

20388      764195
1763327    511816
1403971    422106
2809458    414420
4096612    383713
2250898    280325
72839      160559
2120801    137761
262985     119314
3553485    118721
2776192    118413
2726331    116782
3503374    113327
3247133    113272
3926802    110088
3691952    107917
4265509    105865
2984603    105794
2309487    104175
714035     101966
4575620    101514
1324992     98625
3816665     98554
745007      96437
4204052     93391
1909985     89464
2930986     86403
2740141     85916
2619379     85785
4306404     85122
            ...
1942924         1
894861          1
4187094         1
3984222         1
303175          1
2523111         1
4597807         1
4598220         1
4458151         1
770211          1
3538278         1
3254161         1
1150934         1
2860217         1
1859993         1
4144223         1
3982958         1
1691289         1
598949          1
4237954         1
4223902         1
2424594         1
4696605         1
4033178         1
539244          1
3663267         1
3090068         1
3279699         1
3843114         1
1593586         1
Name: source, Length: 19570, dtype: int64

In [32]:
len(source_set.intersection(set(data.source.values)))

2000

In [34]:
len(sink_set.intersection(set(data.sink.values)))

1978

In [35]:
pd.read_csv('data/sample.csv')

        Id  Prediction
0        1    0.052523
1        2    0.734312
2        3    0.113036
3        4    0.734435
4        5    0.721143
5        6    0.345544
6        7    0.758989
7        8    0.393609
8        9    0.377620
9       10    0.196167
10      11    0.887119
11      12    0.677355
12      13    0.382937
13      14    0.565699
14      15    0.488317
15      16    0.310574
16      17    0.095825
17      18    0.620373
18      19    0.332006
19      20    0.937075
20      21    0.239532
21      22    0.660047
22      23    0.567535
23      24    0.913542
24      25    0.463660
25      26    0.049752
26      27    0.752356
27      28    0.316172
28      29    0.659716
29      30    0.011679
...    ...         ...
1970  1971    0.611389
1971  1972    0.581806
1972  1973    0.244937
1973  1974    0.767740
1974  1975    0.371196
1975  1976    0.792138
1976  1977    0.688124
1977  1978    0.055557
1978  1979    0.857488
1979  1980    0.186058
1980  1981    0.132178
1981  1982    0.024587
1982  1983    0.164653
1983  1984    0.251184
1984  1985    0.538034
1985  1986    0.896500
1986  1987    0.466339
1987  1988    0.968690
1988  1989    0.135910
1989  1990    0.563023
1990  1991    0.733050
1991  1992    0.041262
1992  1993    0.536598
1993  1994    0.219878
1994  1995    0.575708
1995  1996    0.865814
1996  1997    0.680008
1997  1998    0.298230
1998  1999    0.951458
1999  2000    0.770438

[2000 rows x 2 columns]